body{
    background-color: #151515;
}
#name{
    margin: 30vh auto;
    font-size: 10vh;
    letter-spacing: 0.5vw;
    text-align: center;
    color: white;
    font-family: 'Montserrat';
}
#input{
    width: 200px;
    border-radius: 25px;
}